- name : Configure Docker on EC2 Instances
  hosts : all
  become: true
  connection : ssh
  tasks : 
  - name: updating apt
    command : sudo apt-get update

  - name : Install Docker
    command : sudo apt-get install -y docker.io
    become : yes
    become_user : root

  - name : Start Docker Service
    command : sudo systemctl start docker
    become : yes
    become_user : root

  - name: Deploy Docker Container
    command: docker run -itd -p 8084:8081 niladrimondaldcr/insuremestaragile:4.0
  
  - name: Copy file with owner and permission, using symbolic representation
    ansible.builtin.copy:
      src: ./selenium-insure-me.jar
      dest: /home/ubuntu/selenium-insure-me.jar
      owner: ubuntu
      group: ubuntu
      mode: u=rw,g=r,o=r
  - name : run selenium jar
    command : java -jar /home/ubuntu/selenium-insure-me.jar
    become : yes
    become_user : ubuntu
